{% extends 'indexadmin.html' %}
{% block body %}
<div class="card card-primary"style=" width:40%;margin-left:30%;">
              <div class="card-header">
                <h3 class="card-title">Add Parking Area Manager</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
             <form id="form1" name="form1" method="post" action="manageradd" enctype="multipart/form-data" >
                <div class="card-body">
                  <div class="form-group">
                      <label >Name</label>
                   <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Enter your full name" name="name" required>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
                  </div>
                    <div class="form-group">
                    <label >Address</label>
                    <input type="textarea" class="form-control" placeholder="Enter Your Address" name="address" required>
                  </div>
                  <div class="form-group">

                    <div class="col-sm-6">
                      <!-- select -->
                      <div class="form-group">
                        <label >Gender</label>
                        <select class="form-control" name="gender">
                          <option>Male</option>
                          <option>Female</option>
                          <option>Others</option>
                        </select>
                      </div>
                    </div>
                  </div>
                    <div class="form-group">
                  <label>DOB</label>

                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    </div>

                    <input type="date"  class="form-control"  placeholder="Select Your DOB"  min="1940-04-01" max="2018-12-30" name="dob"
                                                 required>
                  </div>
                        <div class="form-group">
                      <label >Mail</label>
                        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder=" Enter your Email" name="mail">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
                        </div>

                  <!-- /.input group -->

                    <div class="form-group">
                    <label >Phone</label>
                    <input type="textarea" class="form-control" placeholder="Enter Your phone number" name="phone" required pattern="[6789][0-9]{9}">
                    </div></div>
                      <div class="form-group">

                    <div class="col-sm-6">
                      <!-- select -->
                      <div class="form-group">
                        <label >Allocated area</label>
                        <select class="form-control" name="area">

                            {% for i in val %}
                          <option value="{{i[0]}}">{{i[1]}}</option>
                            {% endfor %}

                        </select>
                      </div>
                    </div>
                  </div>


<div class="form-group">
                    <label for="exampleInputFile">Photo </label>

                        <input type="file" name="photo" required>


                    </div>
                  </div>
                        {% if a=='-1' %}
                      *MANAGER ALREDY EXIST
                      {% endif %}

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary" style="margin-left:40%">Add</button>
                </div>
              </form>
            </div>
  </div>



{% endblock %}

