{% extends 'indexmanager.html' %}
{% block body %}
<div class="col-md-6"style=" width:40%;margin-left:30%;">
<div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title" >Add Slot</h3>
              </div>
              <form id="form1" name="form1" method="post" action="addslotcode" >
                  <div class="card-body">
                       <div class="form-group">
               <label>Floor Number</label>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Floor Number" name="textfield" required></div>
                    </div>
                    <label>Starting Slot number</label>
                    <div class="mb-3">
                      <input type="text" class="form-control" placeholder="Starting Slot Number"  name="textfield2" required>
                    </div>

<label>Number of sloats</label>
                    <div class="mb-3">
                      <input type="text" class="form-control" placeholder="Number of sloats"  name="textfield3" required>
                    </div>


<label>Type</label>
                    <div class="mb-3">
                      <select name="s">
                          <option>R</option>
                          <option>NR</option>
                      </select>
                    </div>


                    <div class="text-center">
                      <button type="submit" class="btn btn-block btn-primary"style= "width:40%;margin-left:30%">Save</button>
                    </div></div>
                  </form>
            </div>

  </div>



{% endblock %}
