{% extends 'indexstaff.html' %}
{% block body %}

<form id="form1" name="form1" method="post" >
   <div class="card" style="width:60%;margin-left:30%;margin-top:6%">
              <div class="card-header"class="btn btn-block btn-primary">
                <h2 align="center" >View Parking List</h2>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <table class="table table-striped">
                  <thead>
                    <tr>

                         <th>VEHICLE NUMBER</th>
                      <th>ENTRY DATE AND TIME</th>
                      <th>Status</th>
                      <th>Sloat Floor</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in val %}
    <tr>
      <td>{{i[5]}}</td>
      <td>{{i[2]}}</td>
      <td>&nbsp;{% if i[1]|string == '0' %} Not booked {% else %} Booked {% endif %}</td>
        <td>{%if i[8]|string =='None'%}<a href="alocatesloat?id={{i[0]}}">Allocate sloat</a> {% else %}{{i[8]}} == {{i[9]}} {% if i[11]=="complicated" %} <a href="alocatesloat?id={{i[0]}}">Reallocate sloat</a>  {% endif %} {% endif %}</td>

    </tr>
{% endfor %}

                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
				<div align="center">
</form>
{% endblock %}