{% extends 'indexstaff.html' %}
{% block body %}

<form id="form1" name="form1" method="post" action="/viewreser1">
   <div class="card" style="width:60%;margin-left:30%;margin-top:6%">
              <div class="card-header"class="btn btn-block btn-primary">
                <h2 align="center" >View Reservation List</h2>
              </div><div class="card-header"class="btn btn-block btn-primary">
                <h4 align="center" ><input type="date" name="d" value="{{d}}" required>  <input type="submit" value="Search"></h4>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th style="width: 16px">BOOKING ID</th>
                      <th>SLOT NUMBER</th>
                         <th>VEHICLE NUMBER</th>
                      <th>ENTRY DATE AND TIME</th>
                      <th>EXIT DATE AND TIME</th>
                        <th>USER NAME</th>



                    </tr>
                  </thead>
                  <tbody>
                    {% for i in val %}
    <tr>
      <td>{{i[0]}}</td>
      <td>{{i[7]}}</td>
      <td>{{i[6]}}&nbsp;</td>
      <td>&nbsp;{{i[9]}}</td>
      <td>&nbsp;{{i[10]}}</td>
         <td>&nbsp;{{i[8]}}</td>
    </tr>
{% endfor %}

                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
				<div align="center">
</form>
{% endblock %}